.header{
	height: 50px;
	@include flexbox();
	align-items: center;

	@include screen-break(sm){
		height: 60px;
	}
	.header-top{
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
		
		.icon-logo-company-header {
		  text-decoration: none;
		  font-size: 1.2rem;
		  &:before {
		    content: $icon-logo-wordmark;    
		    color: #00ccbc;
		    @include screen-break(sm){
		    	content: $icon-logo-horizontal;  
		    }
		  }
		  @include screen-break(sm){
			font-size: 2.2rem;
		  }
		  span{
		  	display:none;
		  }
		}
	}
}